sympy==1.13.2
biopython==1.84
pandas==2.2.3
tornado==6.4.1
importlib_metadata==8.5.0
gmpy2==2.1.2
mkl-fft==1.3.8
multidict==6.1.0
unicodedata2==15.1.0
lxml==5.3.0
GitPython==3.1.43
typing_extensions==4.11.0
filelock==3.13.1
urllib3==2.2.3
colorama==0.4.6
zipp==3.21.0
huggingface_hub==0.24.6
propcache==0.2.0
requests==2.32.3
frozenlist==1.5.0
Jinja2==3.1.4
soupsieve==2.6
aiohttp==3.10.5
bitsandbytes==0.42.0
safetensors==0.4.5
six==1.16.0
wheel==0.44.0
matplotlib==3.9.3
gitdb==4.0.7
kiwisolver==1.4.4
joblib==1.4.2
packaging==24.1
setuptools==75.1.0
yarl==1.18.0
pytz==2024.1
PySocks==1.7.1
tqdm==4.67.1
psutil==5.9.0
argparse==1.4.0
fonttools==4.51.0
numpy==1.26.4
attrs==24.2.0
propy3==1.1.1
fsspec==2024.3.1
tzdata==2023.3
certifi==2024.8.30
nose==1.3.7
torch==2.2.2
platformdirs==3.10.0
appdirs==1.4.4
threadpoolctl==3.5.0
setproctitle==1.2.2
antibp3==1.3
protobuf==4.25.3
mkl-service==2.4.0
wandb==0.18.7
aiohappyeyeballs==2.4.3
pyparsing==3.2.0
cycler==0.11.0
torchaudio==2.2.2
datasets==3.1.0
mkl-random==1.2.4
python-dateutil==2.9.0.post0
mpmath==1.3.0
charset-normalizer==3.3.2
Bottleneck==1.4.2
Brotli==1.0.9
pillow==11.0.0
numexpr==2.8.7
smmap==4.0.0
multiprocess==0.70.15
pip==24.2
idna==3.7
dill==0.3.8
networkx==3.3
docker-pycreds==0.4.0
contourpy==1.3.1
PyYAML==6.0.2
scipy==1.14.1
sacremoses==0.0.53
transformers==4.46.3
torchvision==0.17.2
tokenizers==0.20.1
xxhash==2.0.2
pyarrow==16.1.0
regex==2024.9.11
aiosignal==1.2.0
mysql-connector-python==8.0.17
beautifulsoup4==4.12.3
MarkupSafe==2.1.3
scikit-learn==1.5.2
click==8.1.7
modlamp==4.3.0
sentry-sdk==2.18.0
accelerate==1.1.1
